body {
    font-family: 'lato';
    color: var(--text);
    line-height: 1.6;
}

/* ..Header Styling -------------------------------------------------------------------------------*/
#navbar {
    background-color:var(--primary);
    height: 10vh;
    color: var(--white);
}

#navbar .flexbox {
    justify-content: space-between;
}

#navbar ul {
    display: flex;
}

#navbar a {
    color: var(--white);
    padding: 10px 15px;
    margin: 0 10px;
}

#navbar a:hover {
    border-bottom: 2px var(--secondary)  solid;
}

/* ...Showcase section --------------------------------------------------------------------------*/

.showcase {
    position: relative;
    background-color: var(--primary);
    height: 400px;
    color: var(--white);
}

.showcase h1 {
    font-size: 2.5rem;
}
.showcase p {
    margin: 20px 0;
}
.showcase .grid {
    /* doubts on this overflow: visible; */
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 40px;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 380px;
    width: 400px;
    padding: 2.5rem;
    z-index: 100;
    /* This pushes the form to the further end */
    justify-self: flex-end;
}

.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -4em;
    right: 0;
    left: 0;
    background-color:var(--white);
    transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}

.showcase-form h2 {
    font-weight:normal;
}

.showcase-form .form-control {
    margin: 2rem 0;
}

.showcase-form .form-control input[type="text"], .showcase-form .form-control input[type="email"] {
    padding: .25rem 0;
    width: 80%;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid #333;
}

/* .showcase-form .form-control input[type=submit] {
    width: 30%;
} */
.showcase-form .form-control input:focus {
    outline: none;
}

.showcase .showcase-text a:hover {
    /* border: 1px solid var(--secondary);
    color: var(--white); */
    border: 1px solid var(--white);
    background: transparent;
}

/* ....Stats Styling --------------------------------------------------------------------------*/
.stats {
    padding-top: 6rem;
}

.stats .stats-heading {
    max-width: 800px;
    margin: 0 auto;
}

.stats .grid h3 {
    font-size: 2rem;
}

.stats .grid p {
    color: var(--primary);
    font-size: 1.15rem;
    font-weight: bold;
}

/* Product useage / cli styling --------------------------------------------------------------*/
.cli {
    padding: 3rem;
}

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    /* 1 is the starting column of the grid container and we are telling it to span across 2 columns ie;  from 1 to 2 */
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Supported Languages styling */
.languages .container .card {
    margin: 1.15rem .85rem 2.25rem;
    transition: transform .3s ease-out;
}

.languages .flexbox {
    flex-wrap: wrap;
}

.languages .card h4{
    font-size: 1.25rem;
    margin-bottom: .85rem;
}

.languages .container .card:hover {
    transform: translateY(-10px);
    /* cursor: grab; */
}


/* Feature page Styling |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.feature-hero img{
    max-width: 200px;
    justify-self: flex-end;
}

.feature-about img {
    max-width: 300px;
    justify-self: flex-end;
}

.feature-about h1{
    margin: 1.5rem auto;
}



/* Footer  */
footer .social-links i{
    margin: 0 .8rem ;
}


/* Media queries --------------------------------------------------------------------*/

/* For Tabs and under */
@media screen and (max-width:768px) {
    .grid, 
    .showcase .grid, 
    .stats .grid, 
    .cli .grid, 
    .cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    /* This will automatically adjust the height of the showcase area according ro whatever is height is needed / required! */
    .showcase {
        height: auto;
    }

    .showcase-text {
        margin-top: 2.25rem;
        text-align: center;
    }

    /* Here the justify-self property align the container element in the grid or flex container ie; the parent container, whereas the justify-content property will try to align the whole elements inside that container */
    .showcase-form {
        justify-self: center;
        /* don't know why this is used? */
        margin: auto;
    }

    .cli .grid > *:first-child {
    /* 1 is the starting column of the grid container and we are telling it to span across 2 columns ie;  from 1 to 2 */
    grid-column: 1;
    grid-row: 1;
}
}


/* For mobiles */
@media(max-width:480px) {
    #navbar {
        height: 25vh;
    }
    #navbar .flexbox {
        flex-direction: column;
    }
    #navbar ul {
        padding: .8rem;
        background-color: rgba(0, 0, 0, .1);
    }
    
    .showcase .grid {
        gap: 10px;
    }

    .showcase .showcase-text {
        width: 90%;
        margin: 1.25rem auto;
    }
    .showcase .showcase-text p {
        font-size: .8rem;
    }

    .showcase-form {
        max-width: 80%;
        top: 40px;
    }

    .showcase-form .form-control input[type="text"], .showcase-form .form-control input[type="email"] {
        width: 100%;
    }
    
    .showcase-form input[type=submit] {
        width: 80%;
        margin: 0 1.5rem;
    }

    .cli {
        padding: 1.5rem 0;
    }

    .cli .grid {
        gap: .5rem;
    }

    .cli .grid img{
        /* grid-template-rows: repeat(3, 1fr); */
        grid-row: 1 / span 2;
    }

    .cli h3 {
        text-align: center;
        font-size: .8rem;
    }

    footer .grid {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    footer .grid nav {
        margin: 1rem 0;
    }

    footer .grid nav ul li {
        display: inline;
        margin:0 .8rem;
    }

    footer .grid .social-links {
        margin: 1rem 0;
    }
}

@media screen and (max-width:400px) {
    .showcase .showcase-text {
        width: 70%;
    }
    .showcase-text h1{
        font-size: 1.75rem;
    }
}

@media screen and (max-width:350px) {
    .showcase .card{
        padding: 1rem;
        margin: -1rem;
    }
}